@import "../../vars"
    
.today-block 
    font-family: sans-serif
    color: #fff

    background-size: cover

    display: flex
    flex-direction: column
    align-items: center

    @include media-pad
        align-items: flex-start
        width: 20em
        margin-left: calc((100vw - #{$pad}) / 2)
        padding: 1rem 2rem
        box-shadow: $shadow-block
        background-color: $bg-block

    @include media-desktop
        height: 100%

.header-block
    @include media-pad
        display: flex

    @include media-desktop
        grid-area: now
        background-color: $bg-block

.main-logo-heading
    font-family: Comfortaa
    font-size: 5em
    align-self: center
    text-align: center
    width: 28rem
    display: none

    @include media-pad
      display: inline
    @include media-desktop
      display: block
      position: absolute
      height: 15%
      margin: 0
      top: 8%
      left: 2%

.today-block__city 
    font-weight: 400
    text-shadow: $shadow-text
    text-align: center

    font-size: 1.5em
    margin: 1.5rem 0

    @include media-pad
        margin: 0 0 1.5rem 0
        text-shadow: none

.today-block__temp 
    font-weight: 400

    font-size: 6em

    &::after
        content: "°"
        position: absolute

.today-block__weather
    font-weight: 400

    font-size: 1.25em
    margin: 0.5rem 0

.today-block__content 
    display: flex
    flex-direction: row
    align-items: center

    @include media-pad
        align-items: flex-start
    @include media-desktop
        height: 25%
        flex-direction: column-reverse
        margin: auto 0

.today-block__icon
    width: 36%
    padding: 0 7%
    height: 36%
    max-width: 20em

    @include media-pad
        padding: 0
        height: 5rem
        width: 6rem
    @include media-desktop
        width: 60%
        padding: 0
        margin: 0 auto 2rem
        height: unset

.today-block__info
    display: grid
    grid-template-rows: 50% 25% 25%
    text-shadow: $shadow-text
    justify-items: center
    align-items: center
    width: 50%

    @include media-pad
        justify-items: start
        width: 70%
        text-shadow: none
    @include media-desktop
        height: 100%
        width: 100%