@import "../../vars"
    
.days-block 
    color: #FFF

.selected-date 
    background-color: $bg-block

    text-align: center
    padding: 1rem 0
    font-size: 1.75em
    font-weight: 600

    @include media-desktop
        background-color: unset