$indent: 0.6rem
    
.today-block__info-block 
    text-shadow: none
    background-color: #8FB5D8B5

    border-radius: 1rem
    padding: 0.2rem 1rem
    margin-bottom: 1rem
    
    display: inline-flex
    flex-direction: row

.info-block__item 
    text-align: center

    border-right: 1px solid #fff
    padding: 0 $indent

    display: flex
    flex-direction: column

    &:last-child 
        border-right: 0

.info-block__label 
    font-size: 0.8em
    margin: $indent 0

.info-block__value 
    margin-bottom: $indent